.drive-disc-container {
  border: solid white;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.add-disk-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80%;
}
/* **************************************** */
/* CSS for Modal Add New */

.drivedisc-modal-body {
  gap: 10px;
}

/* CSS for set and rarity select */
.artifact-header {
  display: flex;
  gap: 5px;
}
.input-holder {
  padding: 6px;
  border-radius: 5px;
  border: solid white 1px;
  display: flex;
  width: 70%;
  color: white;
}

/* Rarity dropdown menu */
.select-rarity {
  width: 100%;
  height: 100%;
}

.rarity-container {
  width: 30%;
  position: relative;
}
.rarity-dropdown-menu {
  position: absolute;
  width: auto; /* Match the button width */
  z-index: 1050; /* Ensure it stays on top of the modal */
  background-color: #1d1f27; /* Darker background */
  border: 1px solid #4c4f58; /* Add a border for contrast */
  border-radius: 4px; /* Rounded corners */
  max-height: 200px; /* Limit height */
  overflow-y: auto; /* Scroll if needed */
  margin-top: 5px; /* Space between the button and dropdown */
  left: 0;
}
.rarity-select-dropdown-item {
  padding: 10px 15px; /* Adequate padding for clickable space */
  color: #cfcfcf; /* Light text color */
  background-color: transparent; /* Ensure no background */
  border: none; /* Remove any borders */
  border-radius: 0; /* Remove border radius for individual items */
  cursor: pointer; /* Pointer cursor for usability */
  transition: background-color 0.2s ease-in-out; /* Smooth hover transition */
  width: 100%;
}

.rarity-select-dropdown-item:hover {
  background-color: #2d8ffb; /* Highlight the item on hover */
  color: #ffffff; /* Make the text white for better visibility */
}

#field-set {
  background-color: #404258;
  border: none;
  color: white;
}

#field-set:focus {
  outline: none;
  border: none;
}

.arrow-down {
  background-color: #404258;
  border-radius: 30%;
  border: none;
  color: white;
}

.arrow-down:hover {
  background-color: #7b7b7b;
}

.select-rarity {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
}

/* CSS for level selection */
.artifact-level {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.drivedisk-level-container {
  background-color: #2c3e50;
  padding: 5px;
  padding-left: 10px;
  border-radius: 4px;
  color: #bdc3c7;
}

.drivedisk-level-container label {
  display: block;
  font-size: 12px;
}

.drivedisk-level-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  width: 100%;
}

.quick-level-select {
  display: flex;
  align-items: center;
  justify-content: end;
}

.quick-level-select button {
  background-color: #1c71bd;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 0;
  width: 38px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: solid #1c1c1f;
  border-width: 1px;
}

.quick-level-select button:last-child {
  border-radius: 0px 6px 6px 0px;
  border: none;
}

.quick-level-select button:first-child {
  border-radius: 6px 0px 0px 6px;
}

/* CSS for slot selection */
.select-slot {
  width: 100%;
  margin-top: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  height: 40px;
}

/* CSS for main stat selection */
.main-stat-display {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.main-stat-select {
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  width: 27%;
  height: 30px;
}

.main-stat {
  border-radius: 5px;
  width: 70%;
  display: flex;
  justify-content: center;
  color: white;
  height: 30;
  background-color: #2c3e50;
  border: solid white;
  border-width: 1px;
}

/* dropdown */
.name-dropdown-menu {
  position: absolute;
  width: 100%; /* Keep the width consistent with the input */
  z-index: 1000;
  background-color: #1d1f27; /* Darker background */
  border: 1px solid #4c4f58; /* Add a border for contrast */
  border-radius: 4px; /* Rounded corners */
  max-height: 200px; /* Limit height */
  overflow-y: auto; /* Scroll if needed */
  top: 100%; /* Position dropdown below the input */
  left: 0; /* Align to the left of the input */
  margin-top: 5px; /* Add space between the input and dropdown */
}

.name-select-dropdown-item {
  background-color: red;
  padding: 10px 15px; /* Adequate padding for clickable space */
  color: #cfcfcf; /* Light text color */
  background-color: transparent; /* Ensure no background */
  border: none; /* Remove any borders */
  border-radius: 0; /* Remove border radius for individual items */
  cursor: pointer; /* Pointer cursor for usability */
  transition: background-color 0.2s ease-in-out; /* Smooth hover transition */
  width: 100%;
}

.name-select-dropdown-item:hover {
  background-color: #2d8ffb; /* Highlight the item on hover */
  color: #ffffff; /* Make the text white for better visibility */
}

.no-matches {
  padding: 10px 15px;
  color: #888;
}

/* CSS for right display */
.sub-stat {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2c3e50;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sub-stat-header {
  width: 100%;
  display: flex;
  height: 30px;
  gap: 10px;
  margin-bottom: 10px;
}

.sub-stat-header button {
  width: 30%;
  background-color: #1c71bd;
  border-radius: 5px;
  border: none;
  color: white;
}

.sub-stat-display {
  width: 70%;
  background-color: #2c3e50;
  border: solid white;
  border-width: 1px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.sub-stat-body input {
  width: 80%;
  margin-left: 10px;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 200px;
}
