.wEngine-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1f;
  color: wheat;
}

/* Styling the under body */
.wEngine-body {
  width: 90%;
  background-color: #1c1c1f;
}

/* Styling the sorting bar */
.wEngine-sorting-container {
  width: 75%;
  border-radius: 5px;
  margin: 30px;
  margin-top: 10px;
  padding: 0px;
  height: 100%;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.element-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  flex-basis: 10px;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  padding: 10px;
}

.element-sort:hover {
  background-color: #7b7b7b;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.agent-sorting-container button {
  width: 110px;
  height: 40px;
  font-size: 13px;
  background-color: #6b728e;
}

.sorting-categories {
  display: flex;
  gap: 0px;
  background-color: #404258;
  flex: 0 0;
  padding: 0;
  border-radius: 6px;
}

.select-all {
  color: white;
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.rank-sort a,
.rank-sort div,
.attribute-sort a,
.attribute-sort div,
.fighting-sort a,
.fighting-sort div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: solid #1c1c1f;
  border-width: 1px;
}

.rank-sort a:last-child,
.attribute-sort a:last-child,
.fighting-sort a:last-child {
  border-radius: 6px;
  border: none;
}
.selected {
  background-color: #50577a;
}

/* Styling the right table */
.card-container {
  width: 350px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #36373d;
  color: #fff;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-rarity {
  font-size: 14px;
  color: #aaa;
  margin-left: auto;
}

.card-body {
  margin-bottom: 12px;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}

.ice-dmg {
  color: #00f;
  font-weight: bold;
}

.card-stats {
  display: flex;
  justify-content: space-between;
}

.stat-level {
  background-color: #333;
  border-radius: 5px;
  padding: 8px;
  width: 48%;
}

.stat-level p {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

.wEngine-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
