.wEngine-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1f;
  color: wheat;
}

/* Styling the under body */
.wEngine-body {
  width: 90%;
  background-color: #1c1c1f;
}

/* Styling the sorting bar */
.wEngine-sorting-container {
  width: 75%;
  border-radius: 5px;
  margin: 30px;
  margin-top: 10px;
  padding: 0px;
  height: 100%;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.element-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  flex-basis: 10px;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  padding: 10px;
}

.element-sort:hover {
  background-color: #7b7b7b;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.agent-sorting-container button {
  width: 110px;
  height: 40px;
  font-size: 13px;
  background-color: #6b728e;
}

.sorting-categories {
  display: flex;
  gap: 0px;
  background-color: #404258;
  flex: 0 0;
  padding: 0;
  border-radius: 6px;
}

.select-all {
  color: white;
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.rank-sort a,
.rank-sort div,
.attribute-sort a,
.attribute-sort div,
.specialty-sort a,
.specialty-sort div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: solid #1c1c1f;
  border-width: 1px;
}

.rank-sort a:last-child,
.attribute-sort a:last-child,
.specialty-sort a:last-child {
  border-radius: 6px;
  border: none;
}
.selected {
  background-color: #50577a;
}

.top-search-bar {
  background-color: #404258;
  padding: 10px;
  border-radius: 4px;
  width: 380px;
}
.search-input {
  width: 350px;
  background-color: #2c2f36;
  border: none;
  border-radius: 4px;
  height: 30px;
  padding: 10px;
  color: white;
}

/* Styling the right table */
.wEngine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}

.card-container {
  width: 320px;
  border: 2px solid #484950;
  border-radius: 10px;
  background-color: #2c2d33;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  font-family: Arial, sans-serif;
}

.card-header {
  height: 80px;
  grid-gap: 0;
  align-items: center;
  background-color: #36373d;
  border-bottom: 1px solid #484950;
  display: grid;
  grid-template-columns: 90px calc(100% - 90px);
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.card-icon {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.card-icon img {
  width: 60px;
  height: 60px;
}

.rarity-S {
  background-image: linear-gradient(
    to bottom,
    #ffb500,
    #f6c02f,
    #eeca4c,
    #e8d365,
    #e3db7e
  );
  border-radius: 4px;
}

.rarity-A {
  background-image: linear-gradient(
    to bottom,
    #e900ff,
    #eb41f4,
    #eb5feb,
    #e877e2,
    #e48cda
  );
  border-radius: 4px;
}

.rarity-B {
  background-image: linear-gradient(
    to bottom,
    #252fd8,
    #3f44d8,
    #5457d7,
    #666ad4,
    #787bd1
  );
  border-radius: 4px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-rarity {
  font-size: 14px;
  color: #aaa;
  margin-left: auto;
}

.card-body {
  margin-bottom: 12px;
  margin-top: 12px;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}

.ice-dmg {
  color: #00f;
  font-weight: bold;
}

.card-stats {
  display: flex;
  justify-content: space-between;
}

.stat-level {
  background-color: #333;
  border-radius: 5px;
  padding: 8px;
  width: 48%;
}

.stat-level p {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

/* Styling the ModalEditWEngine */

.wEngine-modal-container .modal-content {
  border-radius: 10px;
  padding: 10px;
  background-color: #404258;
}

.wEngine-modal-body {
  color: white;
}

.wEngine-left-img {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 85%;
  height: 200px;
  padding: 0;
}

.wEngine-left-img img {
  width: 200px;
  height: 200px;
}

.level-display {
  margin-top: 10px;
}

/* Upgrade dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-button {
  background-color: #2980b9;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 85%;
}

.dropdown-button:hover {
  background-color: #1c6ea4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1c1f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #484950;
}

.dropdown-content {
  display: block;
}

/* Container for the whole level input and dropdown */
.level-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2c2f36;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 85%;
}

/* Styling for the level input section */
.level-input {
  display: flex;
  flex-direction: column;

  margin-right: 10px;
}

.input-button-wrapper {
  display: flex;
  align-items: center;
}

.info-button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}

.level-input label {
  font-size: 12px;
  margin-bottom: 5px;
}

.level-input input {
  padding: 5px;
  background-color: #34495e;
  border: 1px solid #34495e;
  border-radius: 3px;
  color: white;
  text-align: center;
  width: 100%;
  height: 40px;
}

.level-input input::placeholder {
  color: white;
}

/* Dropdown button styling */
.level-dropdown {
  position: relative;
}

.level-dropdown-button {
  background-color: #2980b9;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.level-dropdown-button:hover {
  background-color: #1c6ea4;
}

/* Dropdown content */
.level-dropdown-content {
  display: none;
  position: absolute;
  background-color: #34495e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3px;
  top: 100%;
  left: 0;
  max-height: 180px;
  overflow-y: auto;
}

.level-dropdown-content div {
  padding: 12px 16px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.level-dropdown-content div:hover {
  background-color: #2c3e50;
}

.level-dropdown-content {
  display: block;
}

.confirm-lv-button {
  width: 85%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  margin-bottom: 0;
}
